/* Desktop - 7 */

position: relative;
width: 3160px;
height: 2301px;

background: #000000;


/* Rectangle 23 */

position: absolute;
width: 2926px;
height: 194px;
left: 159px;
top: 113px;

background: #000000;


/* Rectangle 24 */

position: absolute;
width: 538px;
height: 155px;
left: 858px;
top: 113px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Calculator */

position: absolute;
width: 468px;
height: 83px;
left: 896px;
top: 147px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* Rectangle 25 */

position: absolute;
width: 372px;
height: 107px;
left: 225px;
top: 161px;

background: #FAFAFA;
border: 1px solid #000000;
box-sizing: border-box;


/* WhatsApp Image 2021-10-12 at 00.31 1 */

position: absolute;
width: 788px;
height: 364px;
left: 70px;
top: 35px;

background: url(.jpg);


/* Rectangle 26 */

position: absolute;
width: 565px;
height: 155px;
left: 1449px;
top: 113px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Transform */

position: absolute;
width: 483px;
height: 83px;
left: 1506px;
top: 141px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* Rectangle 27 */

position: absolute;
width: 565px;
height: 155px;
left: 2067px;
top: 113px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Ellipse 18 */

position: absolute;
width: 219px;
height: 191px;
left: 2774px;
top: 77px;

background: #000000;
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Ellipse 19 */

position: absolute;
width: 59px;
height: 60px;
left: 2854px;
top: 111px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse 20 */

position: absolute;
width: 144px;
height: 94px;
left: 2811px;
top: 174px;

background: #14FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Tutorials */

position: absolute;
width: 402px;
height: 90px;
left: 2153px;
top: 135px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* BMI CALCULATOR */

position: absolute;
width: 1854px;
height: 282px;
left: 778px;
top: 451px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 220px;
line-height: 258px;

color: #FFFFFF;



/* HEIGHT(cm) Please enter value between 25-250. */

position: absolute;
width: 1228px;
height: 225px;
left: 136px;
top: 733px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #FFF9F9;



/* Weight(Kg) Please enter value between 10-350. */

position: absolute;
width: 1228px;
height: 225px;
left: 101px;
top: 1306px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #FFFFFF;



/* Rectangle 43 */

position: absolute;
width: 1243px;
height: 224px;
left: 110px;
top: 1015px;

background: #00FF00;
border-radius: 22px;


/* Rectangle 44 */

position: absolute;
width: 1252px;
height: 224px;
left: 101px;
top: 1588px;

background: #00FF00;
border-radius: 22px;


/* Rectangle 45 */

position: absolute;
width: 940px;
height: 212px;
left: 168px;
top: 1936px;

background: #00FF00;
border-radius: 106px;


/* CALCULATE */

position: absolute;
width: 818px;
height: 160px;
left: 224px;
top: 1974px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 130px;
line-height: 152px;
letter-spacing: 0.075em;

color: #000000;

mix-blend-mode: normal;


/* BMI: */

position: absolute;
width: 422px;
height: 180px;
left: 1657px;
top: 1628px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
letter-spacing: 0.075em;

color: #FFFFFF;



/* Rectangle 43 */

position: absolute;
width: 926px;
height: 160px;
left: 2067px;
top: 1628px;

background: #00FF00;


/* Line 29 */

position: absolute;
width: 1336px;
height: 0px;
left: 1657px;
top: 1909px;

border: 32px solid #FFFFFF;
transform: matrix(1, 0, 0, 1, 0, 0);


/* Line 30 */

position: absolute;
width: 1332px;
height: 0px;
left: 1661px;
top: 2014px;

border: 32px solid #FFFFFF;


/* Line 31 */

position: absolute;
width: 1336px;
height: 0px;
left: 1657px;
top: 2134px;

border: 32px solid #FFFFFF;


/* BMI: */

position: absolute;
width: 422px;
height: 180px;
left: 1657px;
top: 1628px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
letter-spacing: 0.075em;

color: #FFFFFF;



/* Rectangle 46 */

position: absolute;
width: 926px;
height: 160px;
left: 2067px;
top: 1628px;

background: #00FF00;


/* Line 32 */

position: absolute;
width: 1336px;
height: 0px;
left: 1657px;
top: 1909px;

border: 32px solid #FFFFFF;
transform: matrix(1, 0, 0, 1, 0, 0);


/* Line 33 */

position: absolute;
width: 1332px;
height: 0px;
left: 1661px;
top: 2014px;

border: 32px solid #FFFFFF;


/* Line 34 */

position: absolute;
width: 1336px;
height: 0px;
left: 1657px;
top: 2134px;

border: 32px solid #FFFFFF;


/* images 1 */

position: absolute;
width: 1336px;
height: 754px;
left: 1657px;
top: 750px;

background: url(.jpg);
