/* Desktop - 6 */

position: relative;
width: 1440px;
height: 1062px;

background: #000000;


/* Rectangle 16 */

position: absolute;
width: 1320px;
height: 96px;
left: 57px;
top: 59px;

background: #000000;


/* Rectangle 19 */

position: absolute;
width: 255px;
height: 77px;
left: 360px;
top: 59px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Calculator */

position: absolute;
width: 187px;
height: 41px;
left: 404px;
top: 75px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 17 */

position: absolute;
width: 168px;
height: 53px;
left: 87px;
top: 83px;

background: #FAFAFA;
border: 1px solid #000000;
box-sizing: border-box;


/* WhatsApp Image 2021-10-12 at 00.31 1 */

position: absolute;
width: 308px;
height: 150px;
left: 17px;
top: 20px;

background: url(.jpg);


/* Rectangle 20 */

position: absolute;
width: 255px;
height: 77px;
left: 639px;
top: 59px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Transform */

position: absolute;
width: 190px;
height: 41px;
left: 676px;
top: 75px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 22 */

position: absolute;
width: 255px;
height: 77px;
left: 918px;
top: 59px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Ellipse 15 */

position: absolute;
width: 99px;
height: 83px;
left: 1228px;
top: 55px;

background: #000000;
border: 1px solid #060000;
box-sizing: border-box;


/* Ellipse 16 */

position: absolute;
width: 27px;
height: 26px;
left: 1264px;
top: 72px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse 17 */

position: absolute;
width: 65px;
height: 41px;
left: 1245px;
top: 97px;

background: #14FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Tutorials */

position: absolute;
width: 181px;
height: 45px;
left: 965px;
top: 76px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 25 */

position: absolute;
width: 385px;
height: 230px;
left: 53px;
top: 321px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 25px;


/* Rectangle 28 */

position: absolute;
width: 388px;
height: 72px;
left: 52px;
top: 550px;

background: #FFFCFC;
border: 1px solid #000000;
box-sizing: border-box;


/* Get Transform */

position: absolute;
width: 620px;
height: 83px;
left: 405px;
top: 195px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 80px;
/* or 100% */
text-align: center;

color: #FFFFFF;



/* Rectangle 32 */

position: absolute;
width: 386px;
height: 349px;
left: 53px;
top: 617px;

background: #FFFFFF;
border-radius: 0px 0px 25px 25px;


/* ✔ 2 Nutrition Protocols */

position: absolute;
width: 362px;
height: 52px;
left: 67px;
top: 636px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ 2 Workout Protocols */

position: absolute;
width: 369px;
height: 52px;
left: 60px;
top: 700px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ Video Tutorials */

position: absolute;
width: 375px;
height: 54px;
left: 54px;
top: 754px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ 8 Follow Ups */

position: absolute;
width: 368px;
height: 54px;
left: 61px;
top: 821px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Rectangle 35 */

position: absolute;
width: 308px;
height: 58px;
left: 86px;
top: 883px;

background: #04C904;
border-radius: 25px;


/* Get Started */

position: absolute;
width: 309px;
left: 85px;
top: 893px;
bottom: 73px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;



/* dark-g82cad1a11_1920 1 */

position: absolute;
width: 386px;
height: 234px;
left: 54px;
top: 317px;

background: url(.jpg);
background-blend-mode: multiply;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px 25px 0px 0px;


/* ₹ 5,999 INR */

position: absolute;
width: 389px;
height: 73px;
left: 52px;
top: 543px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;



/* Rectangle 38 */

position: absolute;
width: 402px;
height: 230px;
left: 512px;
top: calc(50% - 230px/2 - 95px);

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 25px;


/* Rectangle 39 */

position: absolute;
width: 405px;
height: 72px;
left: 511px;
top: calc(50% - 72px/2 + 55px);

background: #FFFCFC;
border: 1px solid #000000;
box-sizing: border-box;


/* Frame 2 */

position: absolute;
width: 117px;
height: 115px;
left: 801px;
top: 195px;

border-radius: 25px;


/* Rectangle 40 */

position: absolute;
width: 403px;
height: 349px;
left: 512px;
top: calc(50% - 349px/2 + 260.5px);

background: #FFFFFF;
border-radius: 0px 0px 25px 25px;


/* ✔ 4 Nutrition Protocols */

position: absolute;
width: 380px;
height: 52px;
left: 526px;
top: calc(50% - 52px/2 + 131px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ 4 Workout Protocols */

position: absolute;
width: 387px;
height: 52px;
left: 519px;
top: calc(50% - 52px/2 + 195px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ Video Tutorials */

position: absolute;
width: 393px;
height: 54px;
left: 513px;
top: calc(50% - 54px/2 + 250px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ 13 Follow Ups */

position: absolute;
width: 386px;
height: 54px;
left: 520px;
top: calc(50% - 54px/2 + 317px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Rectangle 41 */

position: absolute;
width: 323px;
height: 58px;
left: 545px;
top: calc(50% - 58px/2 + 381px);

background: #04C904;
border-radius: 25px;


/* Get Started */

position: absolute;
width: 324px;
height: 58px;
left: 545px;
top: calc(50% - 58px/2 + 389px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;



/* dark-g82cad1a11_1920 2 */

position: absolute;
width: 403px;
height: 234px;
left: 513px;
top: calc(50% - 234px/2 - 97px);

background: url(.jpg);
background-blend-mode: multiply;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px 25px 0px 0px;


/* ₹ 9,999 INR */

position: absolute;
width: 407px;
height: 73px;
left: 511px;
top: calc(50% - 73px/2 + 49.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;



/* Rectangle 42 */

position: absolute;
width: 385px;
height: 229px;
left: 978px;
top: 323px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 25px;


/* Rectangle 43 */

position: absolute;
width: 388px;
height: 72px;
left: 977px;
top: 551px;

background: #FFFCFC;
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 44 */

position: absolute;
width: 386px;
height: 348px;
left: 978px;
top: 618px;

background: #FFFFFF;
border-radius: 0px 0px 25px 25px;


/* ✔ 8 Nutrition Protocols */

position: absolute;
width: 362px;
height: 52px;
left: 992px;
top: 637px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ 8 Workout Protocols */

position: absolute;
width: 369px;
height: 52px;
left: 985px;
top: 701px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ Video Tutorials */

position: absolute;
width: 375px;
height: 54px;
left: 979px;
top: 755px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* ✔ Daily Reminders */

position: absolute;
width: 368px;
height: 53px;
left: 986px;
top: 822px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Rectangle 45 */

position: absolute;
width: 309px;
height: 58px;
left: 1010px;
top: 883px;

background: #04C904;
border-radius: 25px;


/* Get Started */

position: absolute;
width: 310px;
left: 1009px;
top: 891px;
bottom: 75px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;



/* dark-g82cad1a11_1920 3 */

position: absolute;
width: 386px;
height: 233px;
left: 979px;
top: 319px;

background: url(.jpg);
background-blend-mode: multiply;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px 25px 0px 0px;


/* ₹ 14,999 INR */

position: absolute;
width: 389px;
height: 73px;
left: 977px;
top: 545px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;



/* 8 Weeks Starter plan */

position: absolute;
width: 383px;
height: 227px;
left: 52px;
top: 317px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

border: 2px solid #000000;


/* 12 Weeks Intermediate plan */

position: absolute;
width: 400px;
height: 227px;
left: 511px;
top: calc(50% - 227px/2 - 97.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

border: 2px solid #000000;


/* 24 Weeks Advance plan */

position: absolute;
width: 383px;
height: 226px;
left: 986px;
top: 326px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

border: 2px solid #000000;
