/* Desktop - 21 */

position: relative;
width: 1484px;
height: 930px;

background: #000000;


/* TUTORIALS */

position: absolute;
width: 457px;
height: 66px;
left: 449px;
top: 163px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 75px;
line-height: 88px;

color: #FFFFFF;



/* WORKOUT */

position: absolute;
width: 328px;
height: 69px;
left: 514px;
top: 262px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 70px;

color: #FFFFFF;



/* CHEST 2 */

position: absolute;
width: 294px;
height: 160.36px;
left: 103px;
top: 388px;

background: url(.jpg);
border: 1px solid #FAFAFA;
box-sizing: border-box;


/* SHOULDEER 2 */

position: absolute;
width: 294px;
height: 160px;
left: 468px;
top: 388px;

background: url(.jpg);
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* STOMACH 1 */

position: absolute;
width: 294px;
height: 160px;
left: 838px;
top: 389px;

background: url(.jpg);
border: 1px solid #FAFAFA;
box-sizing: border-box;


/* LEGS 1 */

position: absolute;
width: 292px;
height: 168px;
left: 103px;
top: 639px;

background: url(.jpg);
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Chest */

position: absolute;
width: 302px;
height: 67px;
left: 110px;
top: 564px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* Shoulder */

position: absolute;
width: 292px;
height: 65px;
left: 490px;
top: 564px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* Abs */

position: absolute;
width: 295px;
height: 57px;
left: 838px;
top: 563px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* Legs */

position: absolute;
width: 302px;
height: 70px;
left: 103px;
top: 818px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* UPPER BODY 1 */

position: absolute;
width: 293px;
height: 172px;
left: 468px;
top: 635px;

background: url(.jpg);
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* LOWER BODY 1 */

position: absolute;
width: 293px;
height: 167.43px;
left: 838px;
top: 635px;

background: url(.jpg);
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Upper Body */

position: absolute;
width: 293px;
height: 62px;
left: 466px;
top: 818px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* Rectangle 16 */

position: absolute;
width: 1320px;
height: 96px;
left: 82px;
top: 39px;

background: #000000;


/* Lower Body */

position: absolute;
width: 302px;
height: 58px;
left: 839px;
top: 812px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;



/* Rectangle 33 */

position: absolute;
width: 182px;
height: 82px;
left: calc(50% - 182px/2 + 546px);
top: calc(50% - 82px/2 - 36px);

background: #00FF00;


/* FILTER */

position: absolute;
width: 131px;
height: 45px;
left: 1235px;
top: 407px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 41px;

color: #000000;



/* Rectangle 34 */

position: absolute;
width: 35px;
height: 42px;
left: 1189px;
top: 512px;

background: #00FF00;


/* DURATION */

position: absolute;
width: 194px;
height: 57px;
left: 1243px;
top: 512px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;



/* Rectangle 36 */

position: absolute;
width: 36px;
height: 47px;
left: 1189px;
top: 623px;

background: #00FF00;


/* COMBIME */

position: absolute;
width: 184px;
height: 73px;
left: 1248px;
top: 634px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;



/* Rectangle 19 */

position: absolute;
width: 255px;
height: 77px;
left: 385px;
top: 39px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Calculator */

position: absolute;
width: 187px;
height: 41px;
left: 429px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* WhatsApp Image 2021-10-12 at 00.31 1 */

position: absolute;
width: 308px;
height: 150px;
left: 42px;
top: 0px;

background: url(.jpg);


/* Rectangle 20 */

position: absolute;
width: 255px;
height: 77px;
left: 664px;
top: 39px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Transform */

position: absolute;
width: 190px;
height: 41px;
left: 701px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 22 */

position: absolute;
width: 255px;
height: 77px;
left: 943px;
top: 39px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Ellipse 15 */

position: absolute;
width: 99px;
height: 83px;
left: 1303px;
top: 33px;

background: #000000;
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Ellipse 16 */

position: absolute;
width: 27px;
height: 26px;
left: 1339px;
top: 48px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse 17 */

position: absolute;
width: 65px;
height: 41px;
left: 1320px;
top: 75px;

background: #14FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Tutorials */

position: absolute;
width: 181px;
height: 45px;
left: 990px;
top: 56px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;

