/* Desktop - 22 */

position: relative;
width: 1484px;
height: 930px;

background: #000000;


/* Rectangle 23 */

position: absolute;
width: 1320px;
height: 96px;
left: 110px;
top: 41px;

background: #000000;


/* Rectangle 24 */

position: absolute;
width: 255px;
height: 77px;
left: 413px;
top: 41px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Calculator */

position: absolute;
width: 187px;
height: 41px;
left: 457px;
top: 57px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 25 */

position: absolute;
width: 168px;
height: 53px;
left: 140px;
top: 65px;

background: #FAFAFA;
border: 1px solid #000000;
box-sizing: border-box;


/* WhatsApp Image 2021-10-12 at 00.31 2 */

position: absolute;
width: 308px;
height: 150px;
left: 70px;
top: 6px;

background: url(.jpg);


/* Rectangle 26 */

position: absolute;
width: 255px;
height: 77px;
left: 692px;
top: 41px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Transform */

position: absolute;
width: 190px;
height: 41px;
left: 729px;
top: 57px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* Rectangle 27 */

position: absolute;
width: 255px;
height: 77px;
left: 971px;
top: 41px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;


/* Ellipse 18 */

position: absolute;
width: 99px;
height: 83px;
left: 1331px;
top: 35px;

background: #000000;
border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Ellipse 19 */

position: absolute;
width: 27px;
height: 26px;
left: 1367px;
top: 50px;

background: #00FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse 20 */

position: absolute;
width: 65px;
height: 41px;
left: 1348px;
top: 77px;

background: #14FF00;
border: 1px solid #000000;
box-sizing: border-box;


/* Tutorials */

position: absolute;
width: 181px;
height: 45px;
left: 1018px;
top: 58px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;



/* CHEST 1 1 */

position: absolute;
width: 303px;
height: 220px;
left: 126px;
top: 293px;

background: url(.jpg);


/* CHEST WORKOUT */

position: absolute;
width: 591px;
height: 124px;
left: 489px;
top: 169px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #FFFFFF;



/* CHEST 2 1 */

position: absolute;
width: 305px;
height: 220px;
left: 563px;
top: 293px;

background: url(.jpg);


/* CHEST 3 1 */

position: absolute;
width: 349px;
height: 220px;
left: 999px;
top: 293px;

background: url(.jpg);


/* CHEST 4 1 */

position: absolute;
width: 319px;
height: 207px;
left: 126px;
top: 613px;

background: url(.jpg);


/* CHEST 5 1 */

position: absolute;
width: 351px;
height: 207px;
left: 563px;
top: 613px;

background: url(.jpg);


/* CHEST 6 1 */

position: absolute;
width: 337px;
height: 213px;
left: 999px;
top: 613px;

background: url(.jpg);


/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 122px;
top: 536px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;



/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 571px;
top: 530px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;



/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 996px;
top: 530px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;



/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 122px;
top: 843px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;



/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 584px;
top: 843px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;



/* CHEST WORKOUT */

position: absolute;
width: 335px;
height: 54px;
left: 999px;
top: 855px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

