/* Desktop - 5-Home */

position: relative;
width: 1440px;
height: 1024px;

background: #020202;


/* Rectangle 16 */

position: absolute;
width: 1320px;
height: 96px;
left: 52px;
top: 51px;

background: #020202;

/* Rectangle 19 */

position: absolute;
width: 255px;
height: 53px;
left: 316px;
top: 73px;

background: #45F075;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;


/* Calculator */

position: absolute;
width: 109px;
height: 28px;
left: 398px;
top: 89px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Photo from Kushal Jivarajani 1 */

position: absolute;
width: 168px;
height: 92.27px;
left: 89px;
top: 55px;

background: url(.jpg);


/* Rectangle 20 */

position: absolute;
width: 255px;
height: 53px;
left: 598px;
top: 73px;

background: #45F075;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;


/* Transform */

position: absolute;
width: 111px;
height: 28px;
left: 656px;
top: 85px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Rectangle 22 */

position: absolute;
width: 255px;
height: 53px;
left: 879px;
top: 73px;

background: #45F075;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;


/* Ellipse 15 */

position: absolute;
width: 80px;
height: 70px;
left: 1203px;
top: 62px;

background: #020202;
border: 1px solid #FFFCFC;
box-sizing: border-box;


/* Ellipse 16 */

position: absolute;
width: 22px;
height: 22px;
left: 1232px;
top: 76px;

background: #45F075;
border: 1px solid #000000;
box-sizing: border-box;


/* Ellipse 17 */

position: absolute;
width: 52px;
height: 35px;
left: 1217px;
top: 97px;

background: #45F075;
border: 1px solid #000000;
box-sizing: border-box;


/* Tutorials */

position: absolute;
width: 93px;
height: 31px;
left: 936px;
top: 86px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;



/* Rectangle 23 */

position: absolute;
width: 1300px;
height: 240px;
left: 52px;
top: 151px;

background: #020202;
border: 1px solid #FFFCFC;
box-sizing: border-box;


/* Transform your Body and health with our services */

position: absolute;
width: 568px;
height: 94px;
left: 521px;
top: 151px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;



/* Get the best Workout Experience to help you remain Fit with our services, comprehensive health calculator, Exclusive personalized plans, priority support and Tutorials in form of home presence */

position: absolute;
width: 777px;
height: 78px;
left: 506px;
top: 253px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #FFFCFC;



/* victor-freitas-nlZTjUZX2qo-unsplash 1 */

position: absolute;
width: 364.1px;
height: 235px;
left: 56px;
top: 153px;

background: url(.jpg);


/* image 2 */

position: absolute;
width: 337px;
height: 224.44px;
left: 52px;
top: 399px;

background: url(.png);
border: 1px solid #FFFCFC;
box-sizing: border-box;
border-radius: 10px;


/* image 3 */

position: absolute;
width: 337px;
height: 225.55px;
left: 533px;
top: 399px;

background: url(.png);
border: 1px solid #FFFCFC;
box-sizing: border-box;
border-radius: 10px;


/* image 4 */

position: absolute;
width: 337px;
height: 224.45px;
left: 1014px;
top: 399px;

background: url(.png);
border: 1px solid #FFFCFC;
box-sizing: border-box;
border-radius: 10px;


/* Transformation */

position: absolute;
width: 337px;
height: 45px;
left: 52px;
top: 629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;



/* Tutorials */

position: absolute;
width: 337px;
height: 47px;
left: 533px;
top: 633px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
text-decoration-line: underline;

color: #FFFCFC;



/* Calculator */

position: absolute;
width: 337px;
height: 47px;
left: 1015px;
top: 629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-align: center;
text-decoration-line: underline;

color: #FFFCFC;



/* Reviews */

position: absolute;
width: 153px;
height: 40px;
left: 635px;
top: 680px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
text-decoration-line: underline;

color: #FFFCFC;



/* Line 50 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 676px;

border: 1px solid #FFFCFC;


/* Rectangle 31 */

position: absolute;
width: 344px;
height: 150px;
left: 526px;
top: 728px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 32 */

position: absolute;
width: 111px;
height: 65px;
left: 533px;
top: 738px;

background: url(.png);
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 33 */

position: absolute;
width: 301px;
height: 127px;
left: 221px;
top: 751px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 34 */

position: absolute;
width: 100px;
height: 50px;
left: 227px;
top: 755px;

background: url(.png);
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 35 */

position: absolute;
width: 301px;
height: 127px;
left: 875px;
top: 751px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;


/* Rectangle 36 */

position: absolute;
width: 100px;
height: 50px;
left: 880px;
top: 758px;

background: url(.png);
border: 1px solid #000000;
box-sizing: border-box;


/* Mr. ABCD */

position: absolute;
width: 85px;
height: 23px;
left: 698px;
top: 740px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-decoration-line: underline;

color: #000000;



/* Happy with the performance */

position: absolute;
width: 192px;
height: 18px;
left: 664px;
top: 777px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;

color: #000000;



/* Very Satisfed with the Plan */

position: absolute;
width: 180px;
height: 15px;
left: 327px;
top: 792px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* Mr. WXYZ */

position: absolute;
width: 66px;
height: 18px;
left: 365px;
top: 757px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-decoration-line: underline;

color: #000000;



/* Everything was organized and well planned. Amazing Service. Recommanded for all. */

position: absolute;
width: 232px;
height: 28px;
left: 238px;
top: 817px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;



/* Mr. PQRS */

position: absolute;
width: 63px;
height: 18px;
left: 1042px;
top: 758px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-decoration-line: underline;

color: #000000;



/* Highly motivating guidance */

position: absolute;
width: 180px;
height: 15px;
left: 984px;
top: 795px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* Was in doubt at first but the guidance received here trainers kept pushing me to do better everytime. */

position: absolute;
width: 250px;
height: 42px;
left: 910px;
top: 821px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;



/* Line 51 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 903px;

border: 1px solid #FFFCFC;


/* Contact Us: */

position: absolute;
width: 134px;
height: 30px;
left: 97px;
top: 943px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #FFFFFF;



/* Line 52 */

position: absolute;
width: 133px;
height: 0px;
left: 97px;
top: 973px;

background: #020202;
border: 1px solid #FFFFFF;
transform: rotate(0.44deg);


/* Happy with the performance of the service provided by the Company. Feel fresh and healthy */

position: absolute;
width: 326px;
height: 36px;
left: 536px;
top: 816px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;

color: #000000;



/* The workout Bldg ,High Street, */

position: absolute;
width: 234px;
height: 20px;
left: 264px;
top: 949px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Pune City, Maharashtra, India. */

position: absolute;
width: 233px;
height: 20px;
left: 264px;
top: 979px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Instagram - Original */

position: absolute;
width: 48px;
height: 48px;
left: 875px;
top: 947px;

background: radial-gradient(92.71% 92.71% at 80.21% 100%, #E4125D 0%, rgba(78, 36, 146, 0.96) 100%);
border-radius: 15px;


/* Group */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;



/* Vector */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;

background: #FFFCFC;


/* Vector */

position: absolute;
left: 24.32%;
right: 24.32%;
top: 24.32%;
bottom: 24.32%;

background: #FFFCFC;


/* Vector */

position: absolute;
left: 70.7%;
right: 17.3%;
top: 17.3%;
bottom: 70.7%;

background: #FFFCFC;


/* Facebook - Original */

position: absolute;
width: 48px;
height: 48px;
left: 1128px;
top: 947px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.61%;

background: #1877F2;


/* Vector */

position: absolute;
left: 29.49%;
right: 27.73%;
top: 19.53%;
bottom: 0%;

background: #FFFFFF;


/* Twitter - Original */

position: absolute;
width: 48px;
height: 48px;
left: 1002px;
top: 947px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.37%;
bottom: 9.37%;

background: #1DA1F2;
